{% extends 'user/base.html.twig' %}


{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Opiekun</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_protectors') }}">
                  <span data-feather="list" class="align-text-bottom"></span>
                  Lista opiekunów
              </a>
            </div>
          </div>
        </div>


        {% if protector.id %}<h4>Edytuj</h4>{% else %}<h4>Dodaj</h4>{% endif %}
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                {#{{ form_start(form,{'attr': {'novalidate':'novalidate','class':'needs-validation'}}) }}#}
                <form action="{{ protector.id ? path('admin_protectors_edit', {id: protector.id}) : path('admin_protectors_new') }}" method="post">    

                    <div class="mb-3">
                        <label for="user_email">E-mail:</label>
                        {{ form_widget(form.email) }} 
                        <div class="invalid-feedback">
                            Poprawna wartość pola 'E-mail' jest wymagana.
                            {{form_errors(form.email)}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="user_name">Imię:</label>
                        {{ form_widget(form.name) }} 
                        <div class="invalid-feedback">
                            Poprawna wartość pola 'Imię' jest wymagana.
                            {{form_errors(form.name)}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="user_last_name">Nazwisko:</label>
                        {{ form_widget(form.last_name) }} 
                        <div class="invalid-feedback">
                            Poprawna wartość pola 'Nazwisko' jest wymagana.
                            {{form_errors(form.last_name)}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="user_password_first">Hasło:</label>
                        {{ form_widget(form.password.first) }} 
                        <div class="invalid-feedback">
                            Wprowadź hasło zgodne z polityką.
                            {{form_errors(form.password.first)}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="user_password_second">Powtórz Hasło:</label>
                        {{ form_widget(form.password.second) }}
                        <div class="invalid-feedback">
                            Poprawnie powtórz hasło.
                            {{form_errors(form.password.second)}}
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary btn-lg col-sm-6">Zapisz</button>
                {{ form_end(form) }}

            </div>
        </div>

    </main>

{% endblock %}
