{% extends 'user/base.html.twig' %}


{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista opiekunów</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            {# TODO - do poprawy #}
            {# <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_protectors_new') }}">
              <span data-feather="plus" class="align-text-bottom"></span>
              Nowy opiekun
            </a> #}
          </div>
        </div>
      </div>


      <h2>Opiekunowie</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Email</th>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for p in protectors %}
            <tr>
              <td>{{ p.id ?? '-' }}</td>
              <td>{{ p.user.email ?? '-' }}</td>
              <td>{{ p.user.name ?? '-' }}</td>
              <td>{{ p.user.lastName ?? '-' }}</td>
              <td>
                  <a class="btn btn-xs btn-secondary" href="{{ path('admin_users_edit', {'id':p.user.id} ) }}">
                    <span data-feather="edit" class="align-text-bottom"></span>
                    Edytuj
                  </a>
                  <a class="btn btn-xs btn-secondary" href="{{ path('admin_protectors_edit', {'id':p.id} ) }}">
                    <span data-feather="settings" class="align-text-bottom"></span>
                    Zarządzaj
                  </a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </main>

{% endblock %}
