<form action="{{ path('account_account_passwordChange') }}" method='POST' 
    onSubmit="if($('#form_new_password').val() != '' && isPassStrong == true) { alert('Hasło zostało wprowadzone błędnie. Upewnij się, czy obecnie używane hasło jest poprawne oraz czy nowo wprowadzone hasło nie jest krótsze niż 8 znaków, zawiera małe lub wielkie litery, cyfry lub znaki specjalne. Dodatkowo upewnij się, że przy powtórzeniu nowego hasła nie popełniono błędu.'); return false; }">

    <table  style="width: 100%" class="tDefault propertiesTable">
        <tr>
            <td>Stare hasło: </td>
            <td colspan='2'>
                {{ form_widget(form.oldPassword, {'attr': {'class':'form-control oldPassword',  'autocomplete':'off', 'required':true } }) }}
            </td>
        </tr>

        <tr>
            <td>
                Nowe hasło: 
                <div class="passwordHint">
                    <small><i>Powinno <span class="cond len">być nie krótsze niż 8 znaków</span> oraz zawierać:<br/>
                        <span class="cond smL">małe lub wielkie litery</span>,
                        <span class="cond dig">cyfry lub znaki specjalne</span>
                    </i></small>
                </div>
            </td>
            <td colspan='2'>
                {{ form_widget(form.newPassword, {'attr': {'class':'form-control pass',  'autocomplete':'off', 'required':true } }) }}
            </td>
        </tr>
        <tr>
            <td>Powtórz nowe hasło: </td>
            <td colspan='2'>
                {{ form_widget(form.newPasswordConfirm, {'attr': {'class':'form-control',  'autocomplete':'off', 'required':true } }) }}
            </td>
        </tr>
    </table>
           
    <input type='submit' style='display: none' />
            
{{ form_widget(form) }}
{{ form_end(form) }}