{% extends 'user/base.html.twig' %}

{% block additionalStyles %}
    <style>
        .row {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .btn {
            margin:5px;
        }
    </style>
{% endblock %}

{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Podopieczny {{ protege.user.name ?? '' }} {{ protege.user.lastName ?? ''}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_proteges') }}">
              <span data-feather="list" class="align-text-bottom"></span>
              Lista podopiecznych
            </a>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>Podstawowe dane</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>Imię</th>
                        <td colspan="2">{{ protege.user.name ?? '-' }}</td>
                    </tr>
                    <tr>
                        <th>Nazwisko</th>
                        <td colspan="2">{{ protege.user.lastName ?? '-' }}</td>
                    </tr>                    
                    <tr>
                        <th>E-mail</th>
                        <td colspan="2">{{ protege.user.email ?? '-' }}</td>
                    </tr>                    
                    <tr>
                        <th>Nr telefonu</th>
                        <td colspan="2">{{ protege.user.phoneNumber ?? '-' }}</td>
                    </tr>
                    <tr>
                        <th>Płeć</th>
                        <td colspan="2">
                            {% if protege.gender|upper == 'MALE' %}
                                Mężczyzna
                            {% elseif protege.gender|upper == 'FEMALE' %}
                                Kobieta
                            {% else %}
                                {{ protege.gender ?? '-' }}</td>
                            {% endif %}
                    </tr>
                    <tr>
                        <th>Wzrost</th>
                        <td colspan="2">{{ protege.height ?? '-' }} cm</td>
                    </tr>
                    <tr>
                        <th>Waga</th>
                        {% if protegeWeight %}
                            <td colspan="2">{{ protegeWeight.value ?? '-' }} kg (pomiar: {{ protegeWeight.datetime|date('Y-m-d (h:i)') }})
                        {% else %}
                            <td colspan="2">-</td>
                        {% endif %}
                    </tr>
                </table>
            </div>

            <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_users_edit', {'id':protege.user.id}) }}" style="float:right;">
              <span data-feather="edit" class="align-text-bottom"></span>
              Edytuj
            </a>
        </div>


        <div class="col-sm-6" style="padding:50px;">
            <!-- Modal polaczenia -->
            <a id="callUserBtn" class="btn btn-block btn-primary" href="#">
              <span data-feather="phone" class="align-text-bottom"></span>
              Wykonaj połączenie
            </a>
            <div id="callUserModal" class="modal">
                <div class="modal-content">
                    <span id="callUserClose" class="close">&times;</span>
                    {% if protege.user.phoneNumber %}
                        <p><a href="tel:{{ protege.user.phoneNumber }}">Połącz z: {{ protege.user.phoneNumber ?? '-' }}</a></p>
                    {% else %}
                        <p>Numer telefonu użytkownika nie został ustalony.</p>
                    {% endif %}
                </div>
            </div>


            <!-- Modal wiadomosci e-mail -->
            <a id="mesgUserBtn" class="btn btn-block btn-primary" href="#">
              <span data-feather="send" class="align-text-bottom"></span>
              Wyślij wiadomość
            </a>
            <div id="mesgUserModal" class="modal">
                <div class="modal-content">
                    <span id="mesgUserClose" class="close">&times;</span>
                    {% if protege.user.email %}
                        <p><a href="mailto:{{ protege.user.email }}">Wyślij wiadomość do: {{ protege.user.email ?? '-' }}</a></p>
                    {% else %}
                        <p>Adres e-mail użytkownika nie został znaleniony</p?
                    {% endif %}
                </div>
            </div>


            <a class="btn btn-block btn-warning" href="{{ path('admin_users_edit', {'id':protege.user.id}) }}">
              <span data-feather="edit" class="align-text-bottom"></span>
              Edytuj użytkownika
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <h4>Puls</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Wartość</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for puls in protegePulsRecords %}
                        <tr>
                            <td>{{ puls.value }}/min</td>
                            <td>{{ puls.datetime|date('Y-m-d (h:i)') }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
                </table>
            </div>

            <span><small>W tabeli wyświetlono 10 ostatnich pomiarów. <a href="#">Wyświetl wszytko &gt&gt</a></small></span>

            {# <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_proteges') }}" style="float:right;">
              <span data-feather="plus" class="align-text-bottom"></span>
              Dodaj pomiar
            </a> #}
        </div>


        <div class="col-sm-6 col-lg-4">
            <h4>Saturacja</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Wartość</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for saturation in protegeSaturationRecords %}
                        <tr>
                            <td>{{ saturation.value }}/min</td>
                            <td>{{ saturation.datetime|date('Y-m-d (h:i)') }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
                </table>
            </div>

            <span><small>W tabeli wyświetlono 10 ostatnich pomiarów. <a href="#">Wyświetl wszytko &gt&gt</a></small></span>
            {# <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_proteges') }}" style="float:right;">
              <span data-feather="plus" class="align-text-bottom"></span>
              Dodaj pomiar
            </a> #}
        </div>


        {# cisnienie #}
        <div class="col-sm-6 col-lg-4">
            <h4>Pomiary ciśnienia</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Ciśnienie skurczowe</th>
                        <th scope="col">Ciśnienie rozkurczowe</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pressure in protegePressureRecords %}
                        <tr>
                            <td>{{ pressure.systolicPressure ?? '-' }}</td>
                            <td>{{ pressure.diastolicPressure ?? '-' }}</td>
                            <td>{{ pressure.datetime|date('Y-m-d (h:i)') }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
                </table>
            </div>

            <span><small>W tabeli wyświetlono 10 ostatnich pomiarów. <a href="#">Wyświetl wszytko &gt&gt</a></small></span>

            {# <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_proteges') }}" style="float:right;">
              <span data-feather="plus" class="align-text-bottom"></span>
              Dodaj pomiar
            </a> #}
        </div>
    </div>


    </main>

{% endblock %}



{% block javascripts %}

    {# modals #}
    <script>

        //callUser
        var callUserModal = document.getElementById("callUserModal");
        var callUserBtn = document.getElementById("callUserBtn");
        var callUserClose = document.getElementById("callUserClose");

        callUserBtn.onclick = function() {
            callUserModal.style.display = "block";
        }
        callUserClose.onclick = function() {
            callUserModal.style.display = "none";
        }


        //mesgUser
        var mesgUserModal = document.getElementById("mesgUserModal");
        var mesgUserBtn = document.getElementById("mesgUserBtn");
        var mesgUserClose = document.getElementById("mesgUserClose");

        mesgUserBtn.onclick = function() {
            mesgUserModal.style.display = "block";
        }
        mesgUserClose.onclick = function() {
            mesgUserModal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == mesgUserModal || event.target == callUserModal) {
                mesgUserModal.style.display = "none";
                callUserModal.style.display = "none";
            }
        }

    </script>

{% endblock %}